<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<mappers>
  <mapper resource="com/mybatis/MusicMapper.xml"></mapper>
  <mapper resource="com/mybatis/UsersMapper.xml"></mapper>
  <mapper resource="com/mybatis/UserLogin.xml"></mapper>
  <mapper resource="com/mybatis/AdministratorLogin.xml"></mapper>
  <mapper resource="com/mybatis/MessageMapper.xml"></mapper>
</mappers>
</configuration>

