*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
body{
    /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 居中 */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column;
    /* background-color: #d3dafa; */
    background-color: #E2C8DB;
}
ul{
    list-style: none;
}
.nav{
    /* 固定定位 */
    position: fixed;
    width: 300px;
    height: calc(100vh - 150px);
    /* background-color: #8a98c9; */
    background-color: #C584B3;
}
.menus{
    margin: 50px 0;
    color: #fff;
}
.li{
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
    padding: 16px 0;
    /* 动画过渡 */
    transition: 0.3s;
}
/* .li::after{
    content: "";
    position: absolute;
    left: 18px;
    margin-top: -20px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
} */
.menus li:hover{
    /* background-color: #beb5df; */
    background-color: #D2A6C6;
}
.li .fa{
    font-size: 20px;
    width: 50px;
    height: 20px;
    text-align: center;
    margin-left: 5px;
}
.li ul{
    width: 0;
    height: calc(100vh - 250px);
    padding: 50px 0;
    /* 绝对定位 */
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    /* background-color: #59699b; */
    background-color: #a06993;
    transition: 0.3s;
}
.li ul li{
    padding: 16px 24px;
    /* 文字禁止换行 */
    white-space: nowrap;
    transition: 0.3s;
}
.li:hover ul{
    width: 250px;
}
.li ul li:hover{
    /* background-color: #828eb9; */
    background-color: #c28fb4;
}
.title{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    /*    background-color: white;*/
}

.main{
    position: fixed;
    left: 301px;
    width: calc(100vw - 300px);
    height: calc(100vh - 150px);
    background-color: white;
    /*    justify-content: center;*/
    align-items: center;
}
.n1{
    width: 1340px;
    height: 100px;
    border-collapse: collapse;
}
.n1 td{
    border:1px solid #fff000;
    text-align: center;
}
